{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #6c6c6c #2e2e2e;
    background-color: var(--dark-bkgd);
}

body {
    color: var(--dark-text);
    background: var(--dark-bkgd);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header#banner a {
    color: var(--dark-text);
    text-decoration: none;
}

header#banner nav ul li a {
    color: var(--dark-nav);
}

main#content a {
    color: var(--dark-link);
}

main#content a:hover {
    color: var(--dark-link-hover);
}

main#content p {
    color: var(--dark-text);
}

main#content hr {
    background: #35363A;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: #a7a7a7;
}

main#content ul#posts a.p-category {
    color: white;
}

main#content ul#posts a.p-category:hover {
    color: white;
}

main#content ul#posts small, span.post-date {
    color: #d4d4d4;
}

main#content ul#posts li a:hover {
    color: var(--dark-link);
}

main#content header#post-header div {
    color: #a7a7a7;
}

div#series-note {
    border-top: 3px solid #3ee4f06c;
    border-bottom: 3px solid #3ee4f06c;
}

main#content .sidenote-label {
    text-decoration: underline 2px var(--dark-sidenote-label);  
}

main#content .sidenote-content {
    border-bottom: solid 2px var(--dark-sidenote-label);
    border-top: solid 2px var(--dark-sidenote-label);
}

main#content .sidenote {
    &:hover {
        .sidenote-label { 
            text-decoration: underline 2px var(--dark-sidenote-active);

         }
        .sidenote-content { 
            border-bottom: solid 2px var(--dark-sidenote-active);
            border-top: solid 2px var(--dark-sidenote-active);
         }
    }
}
/* styling for highlight underlines */

main#content .highlight-word {
    text-decoration: underline 2px var(--dark-link-hover);
    cursor: pointer;
    text-decoration-style: wavy;
}

/* styling for tables */

main#content th {
    background-color: #243644;
}

main#content tbody tr:nth-child(even) {
    background-color: #244956;
}
  
main#content tbody tr:nth-child(odd) {
    background-color: #255460;
}

footer#footer {
    color: var(--dark-nav);
}

footer#footer a{
    color: var(--dark-link);
}

main#content a.webring {
    font-size: 0.8em;
    color: white;
}

main#content a.webring:hover {
    background-color: #3ee4f056;
    color: white;
}
main#content div.webring {
    background-color: #3ee4f02a;
    color: white;
}

{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
