{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #6c6c6c #2e2e2e;
    background-color: var(--dark-bkgd);
}

body {
    color: var(--dark-text);
    background: var(--dark-bkgd);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header#banner a {
    color: var(--dark-text);
    text-decoration: none;
}

header#banner nav ul li a {
    color: var(--dark-nav);
}

main#content a {
    color: var(--dark-link);
}

main#content a:hover {
    color: var(--dark-link-hover);
}

main#content p {
    color: var(--dark-text);
}

main#content hr {
    background: #35363A;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: #a7a7a7;
}

main#content ul#posts a.p-category {
    color: white;
}

main#content ul#posts a.p-category:hover {
    color: white;
}

main#content ul#posts small, span.post-date {
    color: #d4d4d4;
}

main#content ul#posts li a:hover {
    color: var(--dark-link);
}

main#content header#post-header div {
    color: #a7a7a7;
}

div#series-note {
    border-top: 3px solid #3ee4f06c;
    border-bottom: 3px solid #3ee4f06c;
}

/* styling for tables */
main#content table, th, td {
    border: 2px solid #8e869d; 
}

main#content th {
    background-color: #553857;
}

main#content tbody tr:nth-child(even) {
    background-color: #372538;
}
  
main#content tbody tr:nth-child(odd) {
    background-color: #503652;
}

footer#footer {
    color: var(--dark-nav);
}

{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
