:root {
    --bkgd: #1a686e06;
    --dark-bkgd: #232B3A;
    --text: #313a3d;
    --dark-text: #ebebeb;
    --nav-menu: #454545;
    --link: #1a686e;
    --link-hover: #154c50;
    --dark-link: #39d7e2;
    --dark-link-hover: #27959d;
    --home-tag-box: #a32fab9f;
    --home-tag-hover: #a32fab;
    --dark-sidenote-label: #A32FAB;
    --dark-sidenote-active: #BA63C0;
    --series: #154c506c;
    --table-light: #a32fab17;
    --table-darker: #a32fab2e;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 75%;
    background-color: var(--bkgd);
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text);
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 1.6;
    overflow-wrap: break-word;
}

/* styling for the header */
header#banner {
    margin: 25px 0;
}

header#banner a {
    color: var(--text);
    text-decoration: none;
}

header#banner a:hover {
    text-decoration: underline;
}

header#banner h2 {
    display: inline;
    font-size: 21px;
    font-size: 2.1rem;
    margin: 0 8px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    font-size: 1.05em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 3px;
}

header#banner nav ul li a {
    color: var(--nav-menu);
}

/* styling for all the main content */
main#content a {
    color: var(--link);
    text-decoration: underline;
}

main#content a:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

main#content .hanchor {
    visibility: hidden;
    font-size: 100%;
  }

main#content  h2:hover a, 
main#content h3:hover a, 
main#content h4:hover a {
    visibility: visible;
  }

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    line-height: 1.15;
}

main#content h1 {
    margin-bottom: 30px;
}

main#content h2 {
    margin-bottom: 20px;
}

main#content h3 {
    margin-bottom: 15px;
}

main#content h4 {
    margin-bottom: 10px;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: var(--text);
    margin: 16px 0;
}

main#content hr {
    height: 1px;
    border: 0;
    background: var(--bkgd);
}

main#content abbr {
    cursor: help;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 15px 0 15px;
    padding: 0;
}

/* styling for the date for posts list */
main#content ul#posts small, span.post-date {
    font-size: 0.8em;
    color: var(--text);
    margin-left: 10px;
}

/* styling for the topics listed under each post, incl span */
main#content ul#posts div.Tag {
    font-size: 0.8em;
    color: var(--home-tag-box);
    margin-left: 8px;    
}

main#content ul#posts a.p-category {
    font-size: 0.8em;
    color: black;
    padding: 0.3em;
    text-decoration: none;
    border: solid 2px var(--home-tag-box);
    box-shadow: 2px 4px 2px -1px var(--home-tag-box);
}

main#content ul#posts a.p-category:hover {
    font-size: 0.8em;
    color: black;
    padding: 0.3em;
    text-decoration: none;
    border: solid 2px var(--home-tag-hover);
    box-shadow: 2px 4px 2px -1px var(--home-tag-hover);
}

main#content ul#posts li a {
    text-decoration: none;
    font-weight: 450;
}

main#content ul#posts li a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-size: 23px;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.15;
}

/* date on posts */
main#content header#post-header > div {
    display: block;
    font-size: 0.85em;
    color: var(--text);
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 26px;
    margin: 16px 0;
    padding: 9px 14px;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: var(--text);
    margin: 0;
}

main#content #toc nav#TableOfContents {
    margin-top: 4px;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -40px;
}

main#content #toc ul, main#content #toc ol {
    font-size: 0.98em;
    margin: 0;
    padding: 0 0 0 40px;
}

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content blockquote {
    font-size: 0.95em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding-left: 15px;
    border-left: 5px solid var(--link);
}

main#content code,
main#content pre {
    font-family: 'Menlo', monospace;
}

main#content code {
    font-size: 0.96em;
    padding: 0 5px;
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size: 14px;
    font-size: 1.4rem;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
}

main#content pre code {
    padding: 0;
}

/* start claude css + JS of highlight target and hover */

main#content 

    .highlight-word {
        cursor: pointer;
        text-decoration: underline 2px var(--link-hover);
        text-decoration-style: wavy;
    }

    .word-target.highlighted {
        text-decoration: underline 2px var(--home-tag-hover);
        text-decoration-style: double;
    }

/* ok another end */


main#content .footnotes {
    font-size: 0.9em;
}

main#content .sidenote-content {
    text-align: left;
	font-size: 80%;
    position: absolute;
    border-bottom: solid 1px var(--home-tag-box);
    border-top: solid 1px var(--home-tag-box);
}

/* skinny boi */
@media (max-width: 770px) {
    main#content .sidenote-content {
        display: none;
        position: static;
    }
    main#content .sidenote {
        &:active {
            .sidenote-label { 
                text-decoration: underline 2px var(--home-tag-hover);
             }
            .sidenote-content { 
                border: solid 2px var(--home-tag-hover);
                padding: 2px;
                display: block;
                position: static;
                left: auto;
                top: 10px;
                float: left;
                min-width: 100%;
                background-color: white;
             }
        }
    }
}

/*  regular boi  */
@media (min-width: 770px) {
    main#content .sidenote-content {
        left: calc((100vw - 770px)/2 + 770px);
        display: block;
        margin-right: 10px;
    }
    main#content .sidenote {
        &:hover {
            .sidenote-label { 
                text-decoration: underline 2px var(--home-tag-hover);

             }
            .sidenote-content { 
                border-bottom: solid 2px var(--home-tag-hover);
                border-top: solid 2px var(--home-tag-hover);
             }
        }
    }
}

main#content .sidenote-checkbox {
    display: none;
}

main#content .sidenote-label {
    text-decoration: underline var(--home-tag-box);  
}



div#series-note {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top: 3px solid #154c506c;
    border-bottom: 3px solid #154c506c;
}

/* styling for tables */
main#content table, th, td {
    border-spacing: 5px 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

main#content th {
    padding: 8px;
    background-color: var(--table-darker);
    text-align: center;
}

main#content td {
    padding: 5px;
}

main#content tbody tr:nth-child(even) {
    background-color: var(--table-darker);
}
  
main#content tbody tr:nth-child(odd) {
    background-color: var(--table-light);
}

footer#footer {
    font-size: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text);
    margin: 40px 0;
}

/* webring styling */

main#content a.webring {
    color: black;
    padding: 0.5em;
    text-decoration: none;
    border-style: groove;
}

main#content a.webring:hover {
    background-color: #a32fab7c;
    color: black;
    box-shadow: 1px 2px 1px -0.5px
}

main#content div.webring {
    background-color: #a32fab18;
    text-align: center;
    padding: 5px 0px 5px 0px;
}
